<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ZDevTools.ServiceMonitor.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5"/>
  </startup>
  <applicationSettings>
    <ZDevTools.ServiceMonitor.Properties.Settings>
      <setting name="RedisServer"
               serializeAs="String">
        <value>localhost:6379</value>
      </setting>
      <setting name="ServiceMonitorTitle"
               serializeAs="String">
        <value>服务监视器名称（您可以自定义监视器要显示的名称）</value>
      </setting>
    </ZDevTools.ServiceMonitor.Properties.Settings>
  </applicationSettings>
</configuration>
