<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="ZDevTools.ServiceSample.Services.SampleWCFService">
        <endpoint address="http://localhost:8080/SampleWCFService"
                  binding="basicHttpBinding"
                  contract="ZDevTools.ServiceSample.Services.ISampleWCFService">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/SampleWCFService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
